.page-daily-logs {
    display: flex;
    flex-direction: column;
        form {
            display: flex;
            flex-direction: column;
            input, input:focus {
                background-color: transparent;
                border: none;
                outline: none;
                border-bottom: 2px solid gray;
            }
        }

}