#page {
    
    #quote {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    #home-author {
        text-align: end;
        font-size: 20px;
        padding-right: 100px;
    }
}