#page-login {
background-color: darkgray;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        padding: 100px 30px;
        background-color: beige;
        border-radius: 10px;
        gap: 40px;
    }
}
