#navbar {


   /* @media (max-width: 500px) {
        display: none;
    }
    @media (min-width: 501px) {
      display: block;
    }*/

    width: 100%;
    background-color: rgb(183, 124, 183);
    height: 100%;
    padding: 50px;
    position: relative;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    ul {
    display: block;
    list-style: none;
    }
    li {
        font-size: 20px;
        padding: 10px;
        color: black;
    }
    
    #daily-sub {
        position: relative;
        left: 30px;
    }

}

.visible {
        display: block;
    }
    .hidden {
        display: none;
    }