.page-notes {
    
    //padding: 30px;
    form {
        display: flex;
        gap: 30px;
        justify-content: center;
        input, input:focus {
            background-color: transparent;
            border: none;
            outline: none;
            border-bottom: 2px solid gray; 
            //margin-right: 30px;
            width: 100%;
        }
        li {
            width: 100%;
        }
        button {
        width: 100px;
        height: 40px;
        }   
    }
    h1 {
        margin-bottom: 50px;
    }
    li {
        width: 50%;
        word-wrap: break-word;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .note {
        display: flex;
        position: relative;
        align-items: center;
        gap: 20px;
        li {
            list-style-position: inside;
        }
        button {
            //position: relative;
            //left: 30px;
            height: 25px;
            width: 25px;
        }
    }
}